
.page-404 .logo {
  margin-top: 2em;
  max-width: 300px;
}

.page-404 .status {
  text-align: center;
  font-size: 10em;
}

.page-404 .status a {
  color: #353535;
}

.page-404 .status a:hover {
  color: #353535;
  text-decoration: none;
}
