:root {
  --cool-red: #991d20;
  --light-gray: #ebe9e7;
  --dark-gray: #353535;
}

body {
  background-color: var(--light-gray);
  padding: 0;
  margin: 0;
	font-family: "proxima-nova",sans-serif;
}

* {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.flex,
.flex-stack {
  display: flex;
  flex: 1;
  align-items: center;
}

.flex-stack {
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
	flex: 1;
  text-align: center;
	position: relative;
	width: 100%;
}
